.App {
  text-align: center;
}

.m-plus-rounded-1c-thin {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.m-plus-rounded-1c-light {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.m-plus-rounded-1c-extrabold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.m-plus-rounded-1c-black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.imagePlaceholder {
  width:40%;
}

.logInBox {
  display: flex ;
  justify-content: center;
  background-color: #b3a6a3c3;
  padding: 3%;
  border-radius: 15px;
  text-align: center;
  width:70%;
  filter: drop-shadow(8px 8px 10px);
  margin-bottom: 4%;
  border-color: #ffffff;
}

.logInBack {
  display: flex ;
  background-image: url('Assets/images/Hero header.png');
  justify-content: center;

}

.logInButtonImg{
  border-radius: 5px;
  max-width: 60%;
  margin-top:5%;
  margin-bottom:3%;
  border:#EFEBEA;
  border-width: 1px;
}

.LogInText{
  color: #ffffff;
}

.logInButton{
  margin: 1%;
  padding: 0%;
  background-color: #EFEBEA;
  border-color: #7B593F;
  border-width: 2px;
  border-radius: 15px;
}

.logInButton:hover {
  background-color: #7B593F;
  color: white;
}

.loginPagination{
  display: flex ;
  justify-content: center;
  padding: 2%;
}

.logInButton{
  padding: 1%;
  background-color: #ffffffc7;
  border-color: #7B593F;
  border-width: 2px;
  border-radius: 15px;
  color: #7B593F;
}

.logInButton:hover {
  background-color: #7B593F;
  color: white;
}

.logInSubmit{
  padding: 1.5%;
  background-color: #7B593F;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 2%;
}

.logInSubmit:hover {
  background-color: #ffffff;
  color: #7B593F;
}

/* inactive tab */
#justify-tab-example .nav-link {
    color: #ffffff;
}

#justify-tab-example .nav-link:hover {
    color: #000; 
}

/* active tab */
#justify-tab-example .nav-link.active {
    color: #7B593F !important; 
    font-weight: bold;
}

/* Inactive State */
.custom-toggle-group .btn {
    background-color: #ffffff !important;
    color: #7B593F !important;
    border-color: #ffffff !important;
}

/* Hover State */
.custom-toggle-group .btn:hover {
    background-color: #e2e6ea !important;
    color: #212529 !important;
    border-color: #e2e6ea !important;
}

/* Active / Selected State */
.custom-toggle-group .btn-check:checked + .btn,
.custom-toggle-group .btn.active {
    background-color: #7B593F !important;
    color: #ffffff !important;
    border-color: #7B593F !important;
}

.heroImage{
  background-image: url('Assets/images/Hero header.png');
  max-height: 90%;
  max-width: 100%;
}

.herotext{
  padding-top: 15%;
  font-size: 315%;
  color: white;
}

.herocard{
  font-size: 18px;
  color: white;
  background-color: #716a65de;
  border-color: white;
  border-style:solid;
  border-radius: 17px;
  border-width: 1px;
  padding:2%;
  width: 80%;
}

.herocard:hover{
  filter: drop-shadow(3px 3px #3C2717);
  background-color: #716a65de;
}

.marginBody{
  margin-left:13%;
}

.primaryButton{
  margin: 1%;
  padding: 1.2%;
  background-color: #ffffff;
  border-color: #7B593F;
  border-width: 2px;
  border-radius: 15px;
  padding-left: 0%;
}

.primaryButton:hover {
  background-color: #7B593F;
  color: white;
}

.buttontext {
  font-size: 16px;
  padding-left: 2%;
  color: #7B593F;
  text-decoration: none;
}

.joinButton{
  width:25%;
  padding-left: 3%;
}

.circularText{
  padding-top: 35%;
  width: 80%;
  padding-left: 50%;
  padding-bottom: 10%;
}

nav{
  padding: 1.5%;
  padding-left: 8%;
   background-image: url('Assets/images/Nav image.png');
}

.logoStyling{
  width: 13%;
}

.logoStyling:hover{
  filter: drop-shadow(2px 2px #7B593F);
}

.iconStyling{
  width:2.5%;
  padding-right: 0.5%;
  min-width: 20px;
}

.pagelinks{
  text-decoration: none;
  color: white;
  padding: 2%;
  padding-right: 9%;
}

.pagelinks:hover{
  color: #e5d9d6;
  filter: drop-shadow(2px 2px #7B593F);
}

.iconStyling:hover{
  filter: drop-shadow(2px 2px #7B593F);
}

.searchBar{
  margin-left: 0.5%;
  padding: 0.5%;
  border: none;
  padding-left: 1%;
}
.searchButton{
  width:3%;
  padding-left: 0.3%;
}

.searchBox{
  padding: 1%;
  padding-left: 0.5%;
  background-color: white;
  border-color: #7B593F;
  border-width: 2px;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 2%;
}

.searchBox:hover{
  filter: drop-shadow(3px 3px #7B593F);
}

.dropdownlinks{
  text-decoration: none;
  color: #7B593F;
  padding: 2%;
  padding-right: 9%;
}

.dropdowntext {
  font-size: 16px;
  color: #7B593F;
  text-decoration: none;
}

.dropdown{
  padding-right: 6%;
}

.dropdown .dropdowntext {
    color: #7B593F !important;
}

.dropdownIcons{
  width:35%;
  padding-right: 20%;
  min-width: 20px;
}

footer{
  background-color: #7B593F;
  border-radius: 17% 17% 0% 0%;
}

.footerHeading{
  padding-left: 13%;
  padding-right: 10%;
  padding-top: 10%;
  font-size: 400%;
  color: white;
}

.footerText{
  padding-left: 13%;
  padding-top: 5%;
  padding-right: 20%;
  font-size: 100%;
  color: white;
}

.footerimage{
  padding-top: 15%;
  width: 80%;
  padding-bottom: 10%;
}

.footerPageLinks{
  padding-left: 13%;
  padding-right: 20%;
  font-size: 100%;
  color: white;
}

.footerPageLinks:hover{
  filter: drop-shadow(2px 2px #54351e);
}

.marginFooter{
  margin-left:5%;
  margin-bottom: 1%;
}

input{
  border-color: #7B593F;
  border-width: 2px;
  padding: 1%;
  border-radius: 15px;
}

.LogInSubHeading{
  padding-bottom: 3%;
}

.passwordText{
  padding-top: 1%;
}

.checkoutbg{
  background-image: url('Assets/images/Hero header.png');
}

.CheckoutBox {
  padding: 3%;
  text-align: center;
  width: 50%;
  margin-top: 0;
  min-width: 340px;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #b3a6a3b7 !important;
  border-radius: 15px;
  filter: drop-shadow(8px 8px 10px);
  margin-bottom: 4%;
  border-color: #ffffff;
}

.CheckoutBack {
  margin: 3%;
  margin-left: 7%;
  padding-bottom: 2%;
  margin-top: 0;
  filter: drop-shadow(8px 8px 10px);

}

.Checkoutinput{
  display: flex;
  border-color: #7B593F;
  border-width: 2px;
  padding: 2%;
  border-radius: 15px;
  margin: 3%;
  margin-top: 7%;
  align-content: center;
}

.progressBar{
  filter: drop-shadow(2px 2px 3px);
}

.progressBar .progress-bar {
  background-color: #7B593F !important;
}

.checkoutHeading{
  padding-top: 5%;
  color: #ffffff !important;
}

.checkoutSubHeading{
  padding-top: 3%;
  color: #ffffff !important;
}

.checkBoxAlign{
  padding-left: 35%;
  text-align: left;
}

.checkBoxTextA{
  padding-left: 10% !important;
  color: #ffffff;
}

.checkBoxTextB{
  padding-left: 10% !important;
  color: #ffffff;
}

.checkContainer{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px);
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #c9ad95;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #7B593F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Accountpage{
  background-image: url('Assets/images/Hero header.png');
  
}

.Accountbox{
  background-color: #b3a6a3c3;
  padding: 3%;
  border-radius: 15px;
  text-align: center;
  width:70%;
  filter: drop-shadow(8px 8px 10px);
  margin-bottom: 4%;
  border-color: #ffffff;
  max-width: 40%;
  margin-left:30%;
}
